<section id="fale-connosco" class="bg-azul-escuro mt-lg-2">
    <div class="container">
        <div class="row text-center text-lg-start">
            <div class="align-items-end col-lg-6 col-md-6 col-sm-6 d-flex justify-content-end">
                <img src="/img/call-center-woman.png" class="img-fluid whatsapp-img">
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 py-lg-5 d-flex align-items-lg-center align-items-end">
                <div class="align-items-lg-start align-items-center d-flex flex-column justify-content-end mb-5 mb-lg-0 mt-5 py-lg-5">
                    <h3 class="fw-bolder fs-3">Fale connosco</h3>
                    <p class="text-gray small mb-4">Queremos ajudá-lo da melhor forma. <br>Por favor envie-nos uma mensagem através do whatsapp, selecionando o motivo de contacto.</p>
                    <a style="height: 42px !important; font-size: 0.9rem;" class="align-items-center bg-orange btn d-flex fw-normal justify-content-center px-3 rounded-1 text-uppercase text-white" target="_blank" href="<%= empresa.contactos.whatsapp %>"> <i class="fab fa-whatsapp"></i> &nbsp; Iniciar conversa</a>
                </div>
            </div>
        </div>
    </div>
</section>