<section id="about" class="py-lg-5 bg-light-blue py-4">
        <div class="container my-lg-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="https://facebook.com/profile.php?id=61556580508093&sk=videos" target="_blank">
                                <img src="/img/video_corporativa.jpg" style="cursor: pointer;" class="rounded-3 img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <div class="title d-flex align-items-start flex-column ">
                                <h3 class="fw-bolder pseudo position-relative text-dark-blue mt-3 mb-5">Conheça a nossa história</h3>
                                <p class="my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis et excepturi, nesciunt soluta mollitia consectetur distinctio eum quia porro perferendis, magni, tenetur inventore? Accusamus ullam libero saepe. Itaque, unde recusandae?</p>

                                <a href="https://facebook.com/profile.php?id=61556580508093&sk=videos" target="_blank" style="height: 42px !important; font-size: 0.9rem;" class="align-items-center bg-orange btn d-flex fw-normal justify-content-center px-3 rounded-1 text-uppercase text-white">Acompanhar o video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>