<section class="bg-light-blue" id="our-business">
    <div class="container-fluid text-dark-blue py-lg-4">
        <div class="row mb-lg-5 position-relative">
            <div style="background-image: url(https://templatekit.jegtheme.com/edukasi/wp-content/uploads/sites/20/2020/12/OJO4YQ0.jpg);
    background-position: center center;background-repeat: no-repeat;background-size: cover;opacity: 0.02;transition: background 0.3s, border-radius 0.3s, opacity 0.3s;" class="overlay"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 z-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 d-lg-block d-none">
                            <div class="w-100 position-relative">
                                <div class="p-lg-5 p-0">
                                    <div class="widget-container">
                                        <img style="border-top-left-radius: 10%;border-bottom-right-radius: 10%;" loading="lazy" src="/img/our-business_img.jpg" class="img-fluid" alt="College students studying on university campus outdoor" srcset="/img/our-business_img.jpg 1324w, /img/our-business_img.jpg 600w" sizes="(max-width: 1375px) 100vw, 1375px">
                                        <!-- <img style="border-top-left-radius: 10%;border-bottom-right-radius: 10%;" loading="lazy" src="https://templatekit.jegtheme.com/edukasi/wp-content/uploads/sites/20/2020/12/college-students-studying-on-university-campus-outdoor-e1606804304182.jpg" class="img-fluid" alt="College students studying on university campus outdoor" srcset="https://templatekit.jegtheme.com/edukasi/wp-content/uploads/sites/20/2020/12/college-students-studying-on-university-campus-outdoor-e1606804304182-1324x1536.jpg 1324w, https://templatekit.jegtheme.com/edukasi/wp-content/uploads/sites/20/2020/12/college-students-studying-on-university-campus-outdoor-e1606804304182-600x696.jpg 600w" sizes="(max-width: 1375px) 100vw, 1375px"> -->
                                    </div>
                                </div>
                                <div class="radius-conners bg-orange position-absolute text-white" data-id="748f502">
                                    <div class="container px-0 py-4">
                                        <div class="ekit-wid-con">
                                            <div class="elementskit-funfact text-center">

                                                <div class="elementskit-funfact-inner position_top">
                                                    <div class="funfact-icon">
                                                        <i class="far fs-1 fa-star text-white mb-3"></i>
                                                    </div>

                                                    <div class="funfact-content">
                                                        <div class="align-items-center d-flex display-5 flex-row fw-semibold justify-content-center">
                                                            <span class="number-percentage">
                                                                <% let da = new Date().getFullYear() + 3;
                                                                    currentYear = new Date().getFullYear();
                                                                %>
                                                                <%= ("00"+(da - currentYear)).substr(1); %>
                                                            </span>
                                                        </div>

                                                        <h3 class="fs-6 fw-lighter m-0 text-white">Anos de Experiência</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 p-5">
                            <div class="elementor-widget-wrap elementor-element-populated mx-lg-5">
                                <div class="elementor-element mb-4">
                                    <div class="elementor-widget-container text-lg-start text-center">
                                        <h2 class="fw-semibold">Liderança e Governança</h2>
                                    </div>
                                </div>
                                <div class="elementor-element mb-4 elementor-element-0e4ad67 elementor-widget elementor-widget-text-editor" data-id="0e4ad67" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container text-lg-start text-center">Juntos, iluminam o caminho do progresso e da excelência, tecendo o futuro com fios de confiança e visão. Descubra o poder transformador da liderança e governança, onde cada escolha é um passo na construção de um mundo mais justo e próspero.
                                    </div>
                                </div>
                                <div class="elementor-element mb-4">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <div class="align-items-center d-flex gap-4 flex-column flex-lg-row text-center text-lg-start">
                                                <div class="align-items-center bg-white d-flex justify-content-center p-3 radius-conners shadow" style="width: 90px;height: 90px;min-width: 90px;">
                                                    <div class="elementskit-info-box-icon text-center">
                                                        <i aria-hidden="true" class="far fa-user-group text-orange fa-2x"></i>
                                                    </div>
                                                </div>
                                                <div class="box-body">
                                                    <h3 class="fw-semibold fs-5">Visão Estratégica</h3>
                                                    <p class="fs-7">Focada nos desafios do milênium, a liderança da Tusandi traçou uma visão estratégica clara que pretende levar a empresa em direcção a um futuro próspero e sustentável.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element mb-4">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <div class="align-items-center d-flex gap-4 flex-column flex-lg-row text-center text-lg-start">
                                                <div class="align-items-center bg-white d-flex justify-content-center p-3 radius-conners shadow" style="width: 90px;height: 90px;min-width: 90px;">
                                                    <div class="elementskit-info-box-icon text-center">
                                                        <i aria-hidden="true" class="far fa-users text-orange fa-2x"></i>
                                                    </div>
                                                </div>
                                                <div class="box-body">
                                                    <h3 class="fw-semibold fs-5">Governança Corporativa</h3>
                                                    <p class="fs-7">A empresa adopta práticas de governança corporativa sólidas que garantem a transparência e responsabilidade em suas operações.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element mb-4">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <div class="align-items-center d-flex gap-4 flex-column flex-lg-row text-center text-lg-start">
                                                <div class="align-items-center bg-white d-flex justify-content-center p-3 radius-conners shadow" style="width: 90px;height: 90px;min-width: 90px;">
                                                    <div class="elementskit-info-box-icon text-center">
                                                        <i aria-hidden="true" class="text-orange fa-2x far fa-book-open"></i>
                                                    </div>
                                                </div>
                                                <div class="box-body">
                                                    <h3 class="fw-semibold fs-5">Cultura Organizacional</h3>
                                                    <p class="fs-7">A Tusandi valoriza uma cultura organizacional colaborativa, orientada para os resultados e que inspira os seus colaboradores a alcançarem a excelência.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>