<section class="bg-dark-blue" id="section-contador">
    <div class="container-fluid position-relative text-dark-blue px-lg-5 p-3 py-lg-4" style="background-image: url(https://templatekit.jegtheme.com/edukasi/wp-content/uploads/sites/20/2020/12/happy-young-university-students-friends-studying-with-books-at-university-2-e1607398396903.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover; background-attachment: fixed;">
        <div class="position-absolute z-0 overlay"></div>
        <div class="container position-relative z-2">
            <div class="my-5 row text-center text-white uk-animation-toggle" tabindex="0">
                <div class="col-lg-3 col-sm-12 col-md-3 uk-animation-fade">
                    <div class="align-items-center border border-gray d-flex flex-column gap-3 justify-content-center my-5 py-4 py-5" style="border-top-left-radius:2.4em;border-bottom-right-radius:2.4em;">
                        <div class="icone"><i class="text-orange far fa-book-open fs-1"></i></div>
                        <div class="text">
                            <h4 class="contador text-white text-center fs-1 fw-bold" data-count="300">00</h4>
                            <span class="text-white text-center">Cursos online</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-3 uk-animation-fade">
                    <div class="align-items-center border border-gray d-flex flex-column gap-3 justify-content-center my-5 py-4 py-5" style="border-top-left-radius:2.4em;border-bottom-right-radius:2.4em;">
                        <div class="icone"><i class="text-orange far fa-badge-check fs-1"></i></div>
                        <div class="text">
                            <h4 class="contador text-white text-center fs-1 fw-bold" data-count="100">00</h4>
                            <span class="text-white text-center">Taxa de satisfação</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-3 uk-animation-fade">
                    <div class="align-items-center border border-gray d-flex flex-column gap-3 justify-content-center my-5 py-4 py-5" style="border-top-left-radius:2.4em;border-bottom-right-radius:2.4em;">
                        <div class="icone"><i class="text-orange far fa-people-group fs-1"></i></div>
                        <div class="text">
                            <h4 class="contador text-white text-center fs-1 fw-bold" data-count="350">00</h4>
                            <span class="text-white text-center">Professores certifiados</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-3 uk-animation-fade">
                    <div class="align-items-center border border-gray d-flex flex-column gap-3 justify-content-center my-5 py-4 py-5" style="border-top-left-radius:2.4em;border-bottom-right-radius:2.4em;">
                        <div class="icone"><i class="text-orange far fa-user fs-1"></i></div>
                        <div class="text">
                            <h4 class="contador text-white text-center fs-1 fw-bold" data-count="03">00</h4>
                            <span class="text-white text-center">Paises</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>count_on_scroll(10)</script>