<section id="novidades" style="top:-150px" class="d-lg-flex d-none position-absolute m-auto end-0 start-0">
    <div class="conteudo bg-white text-dark-blue shadow px-lg-5 p-3 py-lg-4 rounded-1">
        <div class="gap-2 gap-lg-0 row">
            <div class="align-items-center align-items-start col-lg-6 col-sm-12 d-flex flex-column flex-lg-row gap-lg-3 justify-content-center text">
                <div class="icon">
                    <i class="far fa-envelope fa-2x text-orange"></i>
                </div>
                <div class="text-lg-start text-center small">
                    <h4 class="fw-semibold fs-5">Cadastrar as novidades</h4>
                    <p class="text-gray small m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem aperiam delectus soluta aut illum ducimus hic reiciendis eum blanditiis accusantium!</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-sm-12 controls d-flex align-items-center">
                <form action="" method="post" class="w-100">
                    <div class="gap-3 gap-lg-0 input-group w-100">
                        <input type="email" name="email-newsletter" placeholder="Seu endereço de e-mail" aria-label="Seu endereço de e-mail" id="email-newsletter" class="fs-7 form-control rounded-1" aria-describedby="botaoNewsletter" style="border-top-left-radius: 0.25rem !important;border-bottom-left-radius: 0.25rem !important; border-top-right-radius: 0!important;border-bottom-right-radius:0!important;">
                        <button type="button" style="border-top-right-radius: 0.25rem !important;border-bottom-right-radius: 0.25rem !important;" id="botaoNewsletter" class="btn bg-orange text-uppercase text-white d-flex fw-normal justify-content-center align-items-center px-3 fs-6">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>