<section id="testemunho">
    <style>
        #sliderTestemunhas .image {
            width: 120px;
        }
    </style>
    <div class="container mb-3">
        <div class="row py-lg-5 py-3 text-center">
            <div class="title mb-5">
                <h3 class="fw-bolder mb-5 pseudo pseudo-center position-relative text-dark-blue text-center">Testemunhas</h3>
            </div>
            <div id="sliderTestemunhas" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row justify-content-center">
                            <div class="align-items-center col-6 d-flex flex-column">
                                <div class="image mb-3">
                                    <img src="/img/testemunho/client-1.jpg" alt="imagem do familiar" class="img-fluid rounded-circle d-block w-100">
                                </div>
                                <div class="detalhes text-center">
                                    <p class="message fs-6 mb-3">Minha experiência com a FishTrade tem sido incrível! Como restaurateur, a qualidade do peixe que recebo é crucial para o sucesso do meu negócio. Graças à FishTrade, sempre recebo peixes frescos e de alta qualidade, o que garante pratos deliciosos para os meus clientes</p>
                                    <h3 class="fw-semibold">Amina Kone</h3>
                                    <span class="small fs-7 date text-center">
                                        Proprietária do Restaurante Maré Africana
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row justify-content-center">
                            <div class="align-items-center col-6 d-flex flex-column">
                                <div class="image mb-3">
                                    <img src="/img/testemunho/client-2.jpg" alt="imagem do familiar" class="img-fluid rounded-circle d-block w-100">
                                </div>
                                <div class="detalhes text-center">
                                    <p class="message fs-6 mb-3">Foi um prazer trabalhar com a equipe da GreenBuild na construção da minha casa dos sonhos. Como engenheiro civil, valorizo a precisão e a qualidade do trabalho, e eles superaram todas as expectativas. Profissionais dedicados, materiais sustentáveis e um compromisso com os prazos - simplesmente impecável!</p>
                                    <h3 class="fw-semibold">Tunde Marcelo Obingue</h3>
                                    <span class="small fs-7 date text-center">
                                        Engenheiro Civil
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row justify-content-center">
                            <div class="align-items-center col-6 d-flex flex-column">
                                <div class="image mb-3">
                                    <img src="/img/testemunho/client-3.jpg" alt="imagem do familiar" class="img-fluid rounded-circle d-block w-100">
                                </div>
                                <div class="detalhes text-center">
                                    <p class="message fs-6 mb-3">O Centro Tusandi é uma verdadeira joia! Como mãe, sempre busquei o melhor para meus filhos. Desde que os matriculei no centro, têm mostrado um progresso notável em seus estudos e habilidades sociais. A dedicação dos professores e o ambiente acolhedor tornam este lugar realmente especial.</p>
                                    <h3 class="fw-semibold">Fátima Camara</h3>
                                    <span class="small fs-7 date text-center">
                                       Mãe de dois alunos
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row justify-content-center">
                            <div class="align-items-center col-6 d-flex flex-column">
                                <div class="image mb-3">
                                    <img src="/img/testemunho/client-4.jpg" alt="imagem do familiar" class="img-fluid rounded-circle d-block w-100">
                                </div>
                                <div class="detalhes text-center">
                                    <p class="message fs-6 mb-3">O Centro Educacional Lumina é uma verdadeira luz em nossas vidas! Como mãe, sempre busquei uma educação de qualidade para meus filhos. Desde que se matricularam no Lumina, têm florescido academicamente e pessoalmente. Os professores dedicados e o ambiente de aprendizado inspirador fazem toda a diferença. Estou imensamente grata por fazer parte desta comunidade educacional excepcional.</p>
                                    <h3 class="fw-semibold">Lowry Mensah</h3>
                                    <span class="small fs-7 date text-center">
                                        Mãe de um aluno
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#sliderTestemunhas" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(1);"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#sliderTestemunhas" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(1);"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>