<section class="slider">
    <div id="mainSlider" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="0" class="active" aria-label="Slide 0" aria-current="true"></button>
            <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="1" aria-label="Slide 0"></button>
            <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="2" aria-label="Slide 0"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="position-relative uk-overflow-hidden">
                    <div class="carousel-caption d-none d-md-block">
                        <!-- <h2>Eficiência e confiabilidade</h2> -->
                        <!-- <p>nossa equipa está aqui para cuidar da sua infraestructura</p> -->
                    </div>
                    <img src="/img/slide/banner_education.jpg" class="w-100" alt="Logotipo">
                </div>
            </div>

            <div class="carousel-item">
                <div class="position-relative uk-overflow-hidden">
                    <div class="carousel-caption d-none d-md-block">
                        <!-- <h2>Slide 1</h2> -->
                        <!-- <p>nossa equipa está aqui para cuidar da sua infraestructura</p> -->
                    </div>
                    <img src="/img/slide/banner_construction.jpg" class="w-100" alt="Logotipo">
                </div>
            </div>

            <div class="carousel-item">
                <div class="position-relative uk-overflow-hidden">
                    <div class="carousel-caption d-none d-md-block">
                        <!-- <h2>SLide 2</h2> -->
                        <!-- <p>nossa equipa está aqui para cuidar da sua infraestructura</p> -->
                    </div>
                    <img src="/img/slide/banner_pescas.jpg" class="w-100" alt="Logotipo">
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#mainSlider" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#mainSlider" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>