<%- include('../includes/header.ejs') -%>

    <section class="mb-5 py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <nav aria-label="breadcrumbs">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item small"><a href="/"><i class="small far fa-home"></i></a></li>
                            <li class="breadcrumb-item small"><a href="/usuario">Usuário</a></li>
                            <li class="breadcrumb-item small active" aria-current="page"> Lista de desejos </li>
                        </ol>
                    </nav>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <h3>Lista de desejos</h3>

                    <div class="mt-5 mb-5 pb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div class="fs-4 text-center lh-lg text-dark opacity-50 mb-3">Sem histórico ainda!
                                <br>Por favor adicione um produto ou serviço para pagar mais tarde.<br>Clique no botão
                                abaixo para procurar na loja
                            </div>
                            <a href="/" class="border-1 rounded btn text-white bg-orange">Procurar
                                na loja</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <%- include('../includes/footer.ejs') -%>