<%- include('../includes/header') %>
    <%- include('../includes/sidebar') %>
        <div class="main-content">
            <%- include('../includes/navbar') %>
                <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
                    <div id="content" class="container">
                        <div class="row">
                            <div class="col-12">
                                <nav aria-label="breadcrumbs">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/admin">Início</a></li>
                                        <li class="breadcrumb-item"><a href="/admin/usuario">Usuários</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Gestão de usuários</li>
                                    </ol>
                                </nav>
                            </div>

                            <div class="col-12">
                                <div class="d-flex justify-content-between">
                                    <h1 class="h1 fw-bolder">Gestão de Usuários</h1>
                                    <a href="/admin/usuario/novo" class="link">Criar novo usuario</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<div class="container">
                <div class="row">
                    <div class="col-12 mt-5">
                        <table class="table table-responsive header fs-6">
                            <thead>
                                <tr>
                                    <th width="10%">Código</th>
                                    <th width="50%"><a href="">Nome</a></th>
                                    <th style="text-align:center">Função</th>
                                    <th style="text-align:center">Estado</th>
                                    <th width="20%" style="text-align:center">#Acção</th>
                                </tr>
                            </thead>
                            <tbody class="body"></tbody>
                        </table>
                    </div>
                </div>
        </div></div>
        <script>
            fetch('/admin/api/v1.0.1/usuarios').then(r=>r.json()).then(d=>{
                console.log(d)

                digits = ('000' + d[0].id).substr(-3);
                let estado = null;
                let fin;

                if (d[0].estado == 1) {
                    estado = `<span class="bagde p-1 px-4 rounded bg-success text-white fw-semibold small">Online</span>`;
                    fin = 0
                } else if (d[0].estado == 2) {
                    estado = `<span class="bagde p-1 px-4 rounded bg-gray text-white fw-semibold small">Desactivado</span>`;
                    fin = 1
                } else {
                    estado = `<span class="bagde p-1 px-4 rounded bg-danger text-white fw-semibold small">Offline</span>`;
                    fin = 1
                }
                document.querySelector('.body').innerHTML += `<tr>
                    <td>${digits}</td>
                    <td><a href="/admin/usuario/ler/${d[0].id}">${d[0].nome}</a></td>
                    <td style="text-align:center">#</td>
                    <td style="text-align:center">${estado}</td>
                    <td style="text-align:center">
                        <div class="d-flex gap-3 justify-content-around">
                            <a href="/admin/usuario/editar/${d[0].id}" class="fs-5 fa fa-pen-alt"></a>
                            <a href="/admin/usuario/estado/${d[0].id}?estado=${fin}" class="fs-5 fa fa-eye-slash" title="Ocultar ${d[0].nome.toLowerCase()}"></a>
                        </div>
                    </td>
                </tr>`;
            }).catch(err => console.log(err))
        </script>
        <%- include('../includes/footer') %>