<%- include('../../includes/header.ejs') -%>

<section>
    <div class="container-fluid position-relative" style="background-attachment: fixed; background-image: url(https://universidadducens.edu.mx/wp-content/uploads/2021/02/training-5069846_1920-1.jpg);background-position: 0px top;background-repeat: no-repeat;background-size: cover;">
        <div class="position-absolute overlay start-0 end-0 top-0 bottom-0"></div>
        <div class="row z-3 position-relative py-5">
            <div class="col-lg-12 py-3 text-white text-center">
                <div class="mt-5 pt-5">
                    <h1 data-id="10" class="fw-bolder display-4">O Nosso Negócio</h1>
                </div>
                <div class="mt-4 mb-5 pb-5 m-auto d-flex justify-content-center" aria-label="breadcrumb">
                    <ol class=" breadcrumb text-white">
                        <li class="breadcrumb-item"><a href="/" class="text-decoration-none text-white"><i class="small far fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/nossa-empresa/sobre-nos/" class="text-decoration-none text-white">Nossa empresa</a></li>
                        <li class="breadcrumb-item" aria-current="page">O nosso negócio

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 m-auto text-start">
                <h4 class="fw-bold mb-5 pseudo position-relative">Nossos passos seguem o compromisso com os Direitos Humanos</h4>
                <p class="my-4">A Tusandi está comprometida com o desenvolvimento sustentável de Angola e com o bem-estar da comunidade. A empresa desenvolve diversas ações de responsabilidade social, como:</p>

                <ul class="d-flex m-auto ms-3 p-0 flex-column nav-underline">
                    <li>Apoio a projetos culturais e educativos.</li>
                    <li>Promoção da saúde e do bem-estar dos colaboradores.</li>
                    <li>Preservação do meio ambiente.</li>
                    <li>Participação em ações de voluntariado.</li>
                    <li>Comprometimento com os Direitos Humanos</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark bg-opacity-10 mt-lg-5">
        <div class="row p-5">
            <div class="col-lg-3 col-sm-12 gap-3 p-lg-3 col-md-4 d-flex flex-column justify-content-top align-items-center">
                <div class="image"><img src="https://static.wixstatic.com/media/d62043_489696e7d2b6446eb24be84863d70d6e~mv2.png" alt="Missão" class="img-fluid"></div>
                <h3>Missão</h3>
                <p>Oferecer serviços de excelência em diversas áreas do mercado, com profissionalismo, ética e responsabilidade social, contribuindo para a satisfação dos clientes, o bem-estar dos colaboradores e o desenvolvimento sustentável de Angola.</p>
            </div>

            <div class="col-lg-6 col-sm-12 gap-3 p-lg-3 px-lg-5 col-md-4 d-flex flex-column justify-content-top align-items-center">
                <div class="image">
                    <img src="https://static.wixstatic.com/media/d62043_76bfde13adf5469cb43dbfbd0d266322~mv2.png/v1/fill/w_115,h_115,al_c,lg_1,q_85,enc_auto/Imagem3.png" alt="Valores" class="img-fluid">
                </div>
                <h3>Valores</h3>
                <ul class="nav lh-lg">
                    <li><b>Excelência:</b> Busca constante pela qualidade e aprimoramento dos serviços prestados.</li>
                    <li><b>Profissionalismo:</b> Atuação com ética, responsabilidade e transparência em todas as relações.</li>
                    <li><b>Inovação:</b> Busca por soluções criativas e inovadoras para atender às necessidades dos clientes.</li>
                    <li><b>Responsabilidade Social:</b> Compromisso com o desenvolvimento sustentável e o bem-estar da comunidade.</li>
                    <li><b>Valorização da Cultura Nacional:</b> Preservação e promoção da cultura angolana em todas as suas formas.</li>
                </ul>
            </div>

            <div class="col-lg-3 col-sm-12 gap-3 p-lg-3 col-md-4 d-flex flex-column justify-content-top align-items-center">
                <div class="image">
                    <img src="/assets/img/vision.svg" alt="Visão" class="img-fluid">
                </div>
                <h3>Visão</h3>
                <p>Tornar-se numa entidade de referência nacional em soluções sustentáveis e integradas de gestão de resíduos. Contribuir de forma inovadora desenvolvendo uma cadeia de valor de reciclagem e melhorando o nosso impacto social e ambiental, assim como o dos nossos clientes.</p>
            </div>
        </div>
    </div>

    <div class="container my-5 pt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="https://dummyimage.com/500x400/FF5722&text=%20" class="rounded-3 img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <p>Em 2022, a Tusandi expandiu sua atuação para o mercado do entretenimento, com a abertura de um bar em Luanda. O bar rapidamente se tornou um sucesso, atraindo um público jovem e vibrante.</p>

                <p>Ainda em 2022, a Tusandi diversificou ainda mais seus negócios, ingressando nos setores de pesca e pastelaria. A empresa investe na pesca artesanal e na produção de pastéis de alta qualidade, utilizando ingredientes frescos e receitas tradicionais angolanas.</p>

                <p>Em 2023, a Tusandi consolidou sua posição como uma empresa de referência no mercado angolano. A empresa conta com uma equipe de profissionais qualificados e experientes, e está comprometida com a qualidade dos seus serviços e com a satisfação dos seus clientes.

                <p>A Tusandi tem planos ambiciosos para o futuro. A empresa pretende expandir sua atuação para outras áreas do mercado angolano, como o turismo e a agricultura. A Tusandi também está comprometida com o desenvolvimento sustentável de Angola e com o bem-estar da comunidade.</p>
            </div>
        </div>
    </div>
</section>

<%- include('../../includes/footer.ejs') -%>