<%- include('../../includes/header.ejs') -%>

<section>
    <div class="container-fluid position-relative" style="background-attachment: fixed; background-image: url(https://universidadducens.edu.mx/wp-content/uploads/2021/02/training-5069846_1920-1.jpg);background-position: 0px top;background-repeat: no-repeat;background-size: cover;">
        <div class="position-absolute overlay start-0 end-0 top-0 bottom-0"></div>
        <div class="row z-3 position-relative py-5">
            <div class="col-lg-12 py-3 text-white text-center">
                <div class="mt-5 pt-5">
                    <h1 data-id="" class="fw-bolder display-4 st-title"></h1>
                </div>
                <div class="mt-4 mb-5 pb-5 m-auto d-flex justify-content-center" aria-label="breadcrumb">
                    <ol class=" breadcrumb text-white">
                        <li class="breadcrumb-item"><a href="/" class="text-decoration-none text-white"><i class="small far fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/nossa-empresa/sobre-nos/" class="text-decoration-none text-white">Nossa empresa</a></li>
                        <li class="breadcrumb-item" aria-current="page">Responsabilidade social</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 py-5">
    <div class="container">
        <div data-id="9" class="row st-text"></div>
    </div>

    <div class="container-fluid bg-dark bg-opacity-10 mt-lg-5">
        <div class="row p-5">
            <div class="col-lg-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12 d-flex text-center">
                            <div data-id="12" class="d-none tes-title"></div>
                            <h4 class="lh-lg position-relative pseudo pseudo-center tes-text"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5 pt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="https://dummyimage.com/500x400/FF5722&text=%20" class="rounded-3 img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <h4 class="fw-bold mb-5 pseudo position-relative">Lorem ipsum dolor sit amet consectetur</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ducimus facilis quod consectetur accusamus explicabo hic vitae architecto omnis suscipit quis optio eaque minus ipsam, non delectus! Iure, maxime consectetur.</p>
            </div>
        </div>
    </div>
</section>
<script>
    renderParts('[data-id="9"]', '.st')
    renderParts('[data-id="12"]', '.tes')
</script>
<%- include('../../includes/footer.ejs') -%>    