<%- include('includes/header.ejs') -%>

<section class="my-lg-5 py-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 mb-lg-5">
                <div class="m-auto text-center w-50 p-y my-5">

                    <h1 class="display-2">Página não encontrada</h1>
                    <p class="mt-4 text-center fs-3">A página que procura não existe ou provávelmente terá sido
                        removida.</p>

                    <a href="/" style="height: 42px !important; width:200px; font-size: 0.9rem;"
                        class="align-items-center bg-orange btn d-flex fw-normal justify-content-center mt-5 px-3 rounded-1 m-auto text-uppercase text-white">Voltar</a>

                </div>
            </div>
        </div>
    </div>
</section>

<%- include ('includes/footer.ejs') -%>